/* Loader */

.loader__wrapper {
    animation: loaderFadeOut 3s ease both;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    z-index: 999;
    @include flexbox(row, center, center);

    .loader {
        position: relative;
        margin: 0 auto;
        width: 6.25rem;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        &__circular {
            animation: LoaderRotate 2s linear infinite;
            height: 100%;
            width: 100%;
            transform-origin: center center;
            position: absolute;
            top: 0;
            right: 0;

        }

        &__path {
            animation: loaderStepCircle 1.5s ease-in-out infinite, loaderStepColor 4s ease-in-out infinite;
        }
    }
}

@keyframes loaderFadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes LoaderRotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loaderStepCircle {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -2.1875rem;
    }

    100% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -7.75rem;
    }
}

@keyframes loaderStepColor {
    0% {
        stroke: $primary-color;
    }

    40% {
        stroke: $secondary-color;
    }

    66% {
        stroke: $primary-color;
    }

    100% {
        stroke: $secondary-color;
    }
}